<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty
            scope="context"
            name="LOG_DIR"
            source="LOG_PATH"
            defaultValue=".logs"
    />

    <springProperty
            scope="context"
            name="ROOT_LOG_LEVEL"
            source="logging.level.root"
            defaultValue="INFO"
    />

    <property
            name="LOG_FILE"
            value="${LOG_DIR}/monew.log"
    />

    <property
            name="LOG_PATTERN"
            value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId:-} | %X{requestMethod:-} | %X{requestUri:-} | %X{requestIp:-}] - %msg%n"
    />

    <appender
            name="CONSOLE"
            class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev | prod">

        <appender
                name="FILE"
                class="ch.qos.logback.core.rolling.RollingFileAppender">

            <file>${LOG_FILE}</file>

            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>

            <rollingPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

                <fileNamePattern>
                    ${LOG_DIR}/monew.%d{yyyy-MM-dd}.%i.log.gz
                </fileNamePattern>

                <maxFileSize>10MB</maxFileSize>

                <maxHistory>30</maxHistory>

                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>

    </springProfile>


    <springProfile name="dev | prod">
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>